<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout/layout :: layout">
<head th:include="layout/layout :: header">
<title id="pageTitle">Hust Demo</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div class="page-content" th:fragment="content">
		<div class="portlet light bordered">
			<div class="portlet-title">
				<div class="caption">
					<i class="icon-plus font-orange"></i> <span class="caption-subject font-orange bold uppercase" translate="vnm.FormStockImportFromPartner.NoAcces"></span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>